@font-face {
    font-family: 'AC';
    src: url('PlayfairDisplay-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background: url("background.png"); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
}

.wrapper img {
    position: absolute;
    bottom: -5px;
    left: -5px;
    width: 700px;
    height: auto;
}

.taskbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(248, 240, 208, 0.331);
    color: white;
    padding: 10px 0;
    z-index: 900;
    border-bottom: 5px solid #bbb;
}

.taskbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

.taskbar ul li a {
    color: black;
    text-decoration: none;
    cursor: pointer;
    border-radius: 7px;
    background-color: #fae0be;
    margin: 0 10px;
    font-family: 'AC';
}

.taskbar img {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height: auto;
    z-index: 1000;
    cursor: pointer;
}

.side-bar {
    background: rgba(253, 248, 253, 0.021);
    backdrop-filter: blur(15px);
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -250px;
    overflow-y: auto;
}

.side-bar::-webkit-scrollbar {
    width: 0px;
}

.side-bar.active {
    left: 0;
}
